body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000; /* чорний фон */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стиль форми */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  background-color: #171717;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  transition: .4s ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  color: white;
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Кнопки */
.button {
  padding: 0.7em;
  border-radius: 8px;
  border: none;
  transition: .3s ease-in-out;
  background-color: #252525;
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.button:hover {
  background-color: black;
  color: white;
}