body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #000;
        font-family: Arial, sans-serif;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-box {
        background-color: #171717;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px; /* відступ між списком та кнопкою */
    }

    .styled-list {
        list-style: none;
        padding: 0;
        margin: 0;

        width: 300px;

        background-color: #171717;
        padding: 25px;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

    .styled-list li {
        background-color: #252525;
        padding: 12px;
        margin-bottom: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 1.1em;
        text-align: center;
        transition: .3s ease;
    }

    .styled-list li:hover {
        transform: scale(1.05);
        background-color: #323232;
    }

    