body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #000;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .workers-container {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        margin-bottom: 20px;
    }

    .worker-card {
        background-color: #171717;
        color: white;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(255, 215, 0, 0.3); 
        transition: transform 0.3s, box-shadow 0.3s;
        text-align: center;
        padding: 10px;
    }

    .worker-card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(255, 215, 0, 0.8); 
    }

    .button {
        padding: 0.7em 1em;
        border-radius: 8px;
        border: none;
        transition: .3s ease-in-out;
        background-color: #252525;
        color: white;
        text-decoration: none;
        font-size: 1em;
    }

    .button:hover {
        background-color: black;
        color: white;
    }
    
   
    