<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/start_page.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'css/comments.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/more_informations.css'%}">
    <link rel="stylesheet" href="{% static 'css/order_food.css' %}">
    <link rel="stylesheet" href="{% static 'css/order_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/order_users.css' %}">
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css'%}">
    <link rel="stylesheet" href="{% static 'css/special.css' %}">
    <link rel="stylesheet" href="{% static 'css/workers.css' %}">
    <link rel="stylesheet" href="{% static 'css/workers_list.css' %}"> -->
</head>

<body>

    {% block content %}
    {% endblock %}

</body>

</html>